<aside class="left-sidebar sidebar-dark" id="left-sidebar">
    <div id="sidebar" class="sidebar sidebar-with-footer">
        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/index.html">
                <img src="images/logo.png" alt="Mono">
                <span class="brand-name">Empowering HR</span>
            </a>
        </div>
        <!-- begin sidebar scrollbar -->
        <div class="sidebar-left" data-simplebar style="height: 100%;">
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="section-title">
                    EM Dashboard
                </li>
                <li>
                    <a class="sidenav-item-link" href="contacts.html">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Employee List</span>
                    </a>
                </li>

                <li>
                    <a class="sidenav-item-link" href="team.html">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Team</span>
                    </a>
                </li>

                <li class="section-title">
                    Pages
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#users"
                       aria-expanded="false" aria-controls="users">
                        <i class="mdi mdi-image-filter-none"></i>
                        <span class="nav-text">User</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="users"
                        data-parent="#sidebar-menu">
                        <div class="sub-menu">


                            <li>
                                <a class="sidenav-item-link" href="user-profile.html">
                                    <span class="nav-text">User Profile</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="user-activities.html">
                                    <span class="nav-text">User Activities</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="user-profile-settings.html">
                                    <span class="nav-text">User Profile Settings</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="user-billing.html">
                                    <span class="nav-text">User billing</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="user-notify-settings.html">
                                    <span class="nav-text">User Notify Settings</span>

                                </a>
                            </li>


                        </div>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                       data-target="#authentication"
                       aria-expanded="false" aria-controls="authentication">
                        <i class="mdi mdi-account"></i>
                        <span class="nav-text">Authentication</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="authentication"
                        data-parent="#sidebar-menu">
                        <div class="sub-menu">


                            <li>
                                <a class="sidenav-item-link" href="sign-in.html">
                                    <span class="nav-text">Sign In</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="sign-up.html">
                                    <span class="nav-text">Sign Up</span>

                                </a>
                            </li>


                            <li>
                                <a class="sidenav-item-link" href="reset-password.html">
                                    <span class="nav-text">Reset Password</span>

                                </a>
                            </li>


                        </div>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="sidebar-footer">
            <div class="sidebar-footer-content">
                <ul class="d-flex">
                    <li>
                        <a href="user-account-settings.html" data-toggle="tooltip" title="Profile settings"><i
                                class="mdi mdi-settings"></i></a></li>
                    <li>
                        <a href="#" data-toggle="tooltip" title="No chat messages"><i
                                class="mdi mdi-chat-processing"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>