<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>


<body class="navbar-fixed sidebar-fixed" id="body">
<script>
    NProgress.configure({showSpinner: false});
    NProgress.start();
</script>

<!-- ====================================
——— WRAPPER
===================================== -->
<div class="wrapper">
    <div th:replace="~{fragments/sidebar}"></div>

    <!-- ====================================
    ——— PAGE WRAPPER
    ===================================== -->
    <div class="page-wrapper">
        <div th:replace="~{fragments/header}"></div>

        <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">

            <div th:if="${urlPath == '/'}">
                <div th:replace="~{fragments/content_test}"></div>
            </div>
            <div th:if="${urlPath == '/employees'}">
                <div th:replace="~{fragments/employees}"></div>
            </div>

            <div th:if="${urlPath == '/team'}">
                <div th:replace="~{fragments/team}"></div>
            </div>


        </div>
    </div>
</div>
<div th:replace="~{fragments/card}"></div>
</body>
</html>
